@{
    ViewData["Title"] = "SmartSql";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://github.com/dotnetcore/SmartSql">SmartSql</a>.</p>
</div>
