@{
	Layout = null;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a sample of Elatic Apm For <a href="https://github.com/dotnetcore/SmartSql">SmartSql</a>.</p>
</div>
