[*.cs]
dotnet_diagnostic.CS8767.severity = none
dotnet_diagnostic.CS8769.severity = none
dotnet_diagnostic.CS0436.severity = none
dotnet_diagnostic.CS8765.severity = none
dotnet_diagnostic.CS8714.severity = none
dotnet_diagnostic.CS8766.severity = none
dotnet_diagnostic.CS0108.severity = none
dotnet_diagnostic.CS8612.severity = none
dotnet_diagnostic.CS8768.severity = none
dotnet_diagnostic.CS8603.severity = none
dotnet_diagnostic.CS8604.severity = none
dotnet_diagnostic.CS8602.severity = none
dotnet_diagnostic.CS8600.severity = none
dotnet_diagnostic.CS8601.severity = none
dotnet_diagnostic.CS8621.severity = none
dotnet_diagnostic.CS8625.severity = none
dotnet_diagnostic.CS8618.severity = none
dotnet_diagnostic.CS8620.severity = none
dotnet_diagnostic.CS8762.severity = none