---
  name: Install Dependencies
  description: Ensures an action has the appropiate non .NET dependencies installed
  
  inputs:
    rust:
      description: 'Install rust toolchain ("true" or "false")'
      required: false
      default: "false"
    azure:
      description: 'Install azure functions tool chain ("true" or "false")'
      required: false
      default: "false"
    tc-cloud:
      description: 'Bootstrap TestContainers Cloud (TOKEN or "false")'
      required: false
      default: "false"
        
  runs:
    using: "composite"
    steps:
      # ZIG
      - name: Zig
        if: "${{ inputs.rust == 'true' && runner.os == 'Linux' }}"
        shell: bash
        run: sudo snap install zig --beta --classic
  
      # RUST
      - name: Rustup
        if: "${{ inputs.rust == 'true' }}"
        shell: bash
        run: rustup default 1.91.1
  
      # - name: Cargo make
      #   if: "${{ inputs.rust == 'true' }}"
      #   shell: bash
      #   run: cargo install --force cargo-make
  
      - name: Install cargo-make using cache
        if: "${{ inputs.rust == 'true' }}"
        uses: baptiste0928/cargo-install@v3
        with:
          crate: cargo-make
          version: "^0.36.8"
  
      - name: Install cargo zigbuild
        if: "${{ inputs.rust == 'true' && runner.os == 'Linux' }}"
        shell: bash
        run: cargo install --force cargo-zigbuild

      - name: Install terraform
        if: "${{ runner.os == 'Linux' }}"
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3
        with:
          terraform_version: 1.11.2
      
      - uses: Swatinem/rust-cache@v2
        if: "${{ inputs.rust == 'true' }}"
        with:
          cache-targets: "false"
          cache-all-crates: "true"
  
      # AZURE
      - name: 'Linux: Azure functions core tools'
        if: "${{ inputs.azure == 'true' && runner.os == 'Linux' }}"
        shell: bash
        run: |
          wget -q https://packages.microsoft.com/config/ubuntu/24.04/packages-microsoft-prod.deb
          sudo dpkg -i packages-microsoft-prod.deb
          sudo apt-get update
          sudo apt-get install azure-functions-core-tools-4=4.0.7317-1
            
      - name: 'Windows: Azure functions core tools'
        if: "${{ inputs.azure == 'true' && runner.os == 'Windows' }}"
        shell: cmd
        run: choco install azure-functions-core-tools -y --no-progress -r --version 4.0.6280
          
      # TEST CONTAINERS CLOUD
      # If no PR event or if a PR event that's caused by a non-fork and non dependabot actor
      - name: Setup TestContainers Cloud Client
        if: |
          inputs.tc-cloud != 'false'
          && (github.event_name != 'pull_request'
          || (github.event_name == 'pull_request'
              && github.event.pull_request.head.repo.fork == false 
              && github.actor != 'dependabot[bot]'
             )
          )
        uses: atomicjar/testcontainers-cloud-setup-action@7d1bab3fdfe0027c91936deca6b924d8a8a7a04d # v1.4.0
        with:
          token: ${{ inputs.tc-cloud }}
  
  
          
  