---
name: Install Dependencies
description: Ensures an action has the appropiate non .NET dependencies installed

inputs:
  rust:
    description: 'Install rust toolchain ("true" or "false")'
    required: false
    default: "false"
  azure:
      description: 'Install azure functions tool chain ("true" or "false"'
      required: false
      default: "false"

runs:
  using: "composite"
  steps:
    # RUST
    - name: Rustup
      if: "${{ inputs.rust == 'true' }}"
      shell: bash
      run: rustup default 1.67.1

    - name: Cargo make
      if: "${{ inputs.rust == 'true' }}"
      shell: bash
      run: cargo install --force cargo-make
    
    - uses: Swatinem/rust-cache@v2
      if: "${{ inputs.rust == 'true' }}"
      with:
        cache-targets: "false"
        
        
    # AZURE
    - name: Azure functions core tools
      if: "${{ inputs.azure == 'true' }}"
      shell: bash
      run: |
        wget -q https://packages.microsoft.com/config/ubuntu/20.04/packages-microsoft-prod.deb
        sudo dpkg -i packages-microsoft-prod.deb
        sudo apt-get update
        sudo apt-get install azure-functions-core-tools-4
        
