@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a>Hi @UserManager.GetUserName(User)!</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Account" asp-action="LogOut">Logout</a>
		</li>
	</ul>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a asp-area="" asp-controller="Account" asp-action="Register">Register</a>
		</li>
		<li>
			<a asp-area="" asp-controller="Account" asp-action="Login">Login</a>
		</li>
	</ul>
}