@{
}

<br/>
<div class="alert alert-info" role="alert">
	On this page you can add a new row to the sample database. <br/> If the APM .NET Agent is activated then the insert statement is captured by the agent which you can see in Kibana.
</div>

<br/>
<form method="POST" asp-controller="Home" asp-action="AddSampleData">
	<input type="checkbox" id="captureControllerActionAsSpan" name="captureControllerActionAsSpan" value="true">
	<label>Capture controller's action as span</label>
	
	<br>
	<br>

	<label>Name</label>
	<input type="text" id="enteredName" name="enteredName" placeholder="New sample string goes here"/>
	
	<input type="submit"/>
</form>