@{
	ViewData["Title"] = "Home Page";
}
@model List<string>

<br/>
<div class="alert alert-info" role="alert">
	This page triggers a database call and an outgoing HTTP call. <br/> If the APM .NET Agent is activated then these two actions are captured by the agent and you can see them in Kibana.
</div>

<br/>

<p>Result of the HttpClient call: </p>
<p>
	Number of stargazers of the <a href="https://github.com/elastic/apm-agent-dotnet" target="_blank">APM .NET Agent repo</a> on GitHub:
	@ViewData["stargazers_count"]
</p>

<br/>
<p>Result of the database call:</p>
<ul>
	@foreach (var userName in Model)
	{
		<li>@userName</li>
	}
</ul>

@if (Model == null || Model.Count == 0)
{
	<p>The sample table in the database is empty, you can add a new row under "InsertDb Sample"</p>
}