<br/>
<div class="alert alert-info" role="alert">
	This is a very simple page without any code inside the controller. <br/> If the APM .NET Agent is activated then the request is captured by the agent and you can see it in Kibana.
</div>