<br/>
<br/>

<form method="POST" asp-controller="Account" asp-action="LoginUser">
	<label>Name</label>
	<input type="text" id="username" name="username" placeholder="username"/>
	<input type="text" id="password" name="password" placeholder="password"/>
	<input type="submit"/>
</form>