name: release-main

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write
  id-token: write
  issues: write
  packages: write

env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Bootstrap Action Workspace
      id: bootstrap
      uses: ./.github/workflows/bootstrap
      with: 
        rust: 'true'

    - name: Package with canary suffix
      run: ./build.sh pack

    - name: Prepare feedz.io
      uses: hashicorp/vault-action@v2.7.4
      with:
        url: ${{ secrets.VAULT_ADDR }}
        method: approle
        roleId: ${{ secrets.VAULT_ROLE_ID }}
        secretId: ${{ secrets.VAULT_SECRET_ID }}
        secrets: |
          secret/apm-team/ci/elastic-observability-feedz.io apiKey | REPO_API_KEY ;
          secret/apm-team/ci/elastic-observability-feedz.io url | REPO_API_URL

    - name: generate build provenance
      uses: github-early-access/generate-build-provenance@main
      with:
        subject-path: "${{ github.workspace }}/build/output/_packages/*.nupkg"

    # Github packages requires authentication, this is likely going away in the future so for now we publish to feedz.io
    - name: publish canary packages to feedz.io
      run: dotnet nuget push 'build/output/_packages/*.nupkg' -k ${REPO_API_KEY} -s ${REPO_API_URL} --skip-duplicate --no-symbols
      
    - name: publish canary packages github package repository
      run: dotnet nuget push 'build/output/_packages/*.nupkg' -k ${{secrets.GITHUB_TOKEN}} -s https://nuget.pkg.github.com/elastic/index.json --skip-duplicate --no-symbols
    
    - if: ${{ failure() }}
      uses: elastic/apm-pipeline-library/.github/actions/slack-message@current
      with:
        url: ${{ secrets.VAULT_ADDR }}
        roleId: ${{ secrets.VAULT_ROLE_ID }}
        secretId: ${{ secrets.VAULT_SECRET_ID }}
        channel: "#apm-agent-dotnet"
        message: |
          :large_yellow_circle: [${{ github.repository }}] Snapshot could not be published to feedz.io.
          Build: (<${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}|here>)
