name: test-windows

on:
  push:
    branches:
      - main
    paths-ignore:
    - '*.md'
    - '*.asciidoc'
    - 'docs/**'
  pull_request:
    paths-ignore:
    - '*.md'
    - '*.asciidoc'
    - 'docs/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

defaults:
  run:
    shell: cmd

jobs:
  tests:
    runs-on: ubuntu-latest
        
    steps:
      - uses: actions/checkout@v3
      - name: Bootstrap Action Workspace
        uses: ./.github/workflows/bootstrap
        with:
          azure: 'true'

      - name: Build
        run: dotnet build -c Release --verbosity minimal

      - name: 'Tests: Unit'
        uses: ./.github/workflows/test
        with:
          name: 'unit'
          filter: 'FullyQualifiedName!~Elastic.Apm.StartupHook.Tests&FullyQualifiedName!~Elastic.Apm.Profiler.Managed.Tests'
    
    
  build-and-profiler:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v3
    - name: Bootstrap Action Workspace
      uses: ./.github/workflows/bootstrap
      
    - name: Install tools
      run: .ci\\windows\\tools.ps1
      shell: pwsh

    - name: Build dotnet
      run: .ci\\windows\\dotnet.bat

    - name: Build agent
      run: .\\build.bat agent-zip

    - name: Build profiler
      run: .\\build.bat profiler-zip

    # Run test profiler in this job so
    # there is no need to build profiler again in a different job
    - name: Install test tools
      run: .ci\\windows\\test-tools.ps1
      shell: pwsh

    - name: Test profiler
      run: .ci\\windows\\test-profiler.bat

    - name: Store test results
      if: success() || failure()
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        path: test/**/junit-*.xml
        
    - uses: actions/upload-artifact@v3
      with:
          name: snapshoty-windows
          path: build/output/*
          retention-days: 1


  startup-hook-test:
    runs-on: windows-2022

    steps:
    - uses: actions/checkout@v3
    - name: Bootstrap Action Workspace
      uses: ./.github/workflows/bootstrap

    - name: Install test tools
      run: .ci\\windows\\test-tools.ps1
      shell: pwsh

    - name: Build agent
      run: .\\build.bat agent-zip

    - name: Test & coverage
      run: .ci\\windows\\test-startuphooks.bat

    - name: Store test results
      if: success() || failure()
      uses: actions/upload-artifact@v3
      with:
        name: test-results
        path: test/**/junit-*.xml
