---
## Workflow to process the JUnit test results and add a report to the checks.
name: test-windows-reporter
on:
  workflow_run:
    workflows:
      - test-windows
    types:
      - completed

jobs:
  report:
    runs-on: ubuntu-latest
    name: Windows Test Summary
    steps:
      - uses: elastic/apm-pipeline-library/.github/actions/test-report@current
        with:
          artifact: test-results-windows   # artifact name
          name: Windows Tests Summary      # Name of the check run which will be created
          path: "junit-*.xml"              # Path to test results (inside artifact .zip)
          reporter: java-junit             # Format of test results
          list-suites: 'failed'
          list-tests: 'failed'
          # output-to: 'step-summary'
