name: test-windows

on:
  push:
    branches:
      - main
    paths-ignore:
    - '*.md'
    - '*.asciidoc'
    - 'docs/**'
  pull_request:
    paths-ignore:
    - '*.md'
    - '*.asciidoc'
    - 'docs/**'

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

defaults:
  run:
    shell: cmd

env:
  NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages

jobs:
  tests:
    runs-on: windows-2022
    timeout-minutes: 30
    if: ${{ false }}
        
    steps:
      - uses: actions/checkout@v4
      - name: Bootstrap Action Workspace
        uses: ./.github/workflows/bootstrap

      - name: Build
        run: dotnet build -c Release --verbosity minimal

      - name: Setup Testcontainers Cloud Client
        if: github.event_name != 'pull_request' || github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false
        uses: atomicjar/testcontainers-cloud-setup-action@v1
        with:
          token: ${{ secrets.TC_CLOUD_TOKEN }}

      - name: 'Tests: Unit'
        uses: ./.github/workflows/test
        with:
          name: 'unit'
          filter: 'FullyQualifiedName!~Elastic.Apm.StartupHook.Tests&FullyQualifiedName!~Elastic.Apm.Profiler.Managed.Tests&FullyQualifiedName!~Elastic.Apm.Azure'
          framework: '' # reset to test all .NET frameworks including net462
    
  startup-hook-tests:
    runs-on: windows-2022
    if: ${{ false }}
    
    steps:
      - uses: actions/checkout@v4
      - name: Bootstrap Action Workspace
        uses: ./.github/workflows/bootstrap

      - name: Build agent-zip
        run: ./build.bat agent-zip
        
      - name: 'Tests: StartupHooks'
        uses: ./.github/workflows/test
        with:
          name: 'startuphooks'
          project: 'test/startuphook/Elastic.Apm.StartupHook.Tests/Elastic.Apm.StartupHook.Tests.csproj'
          
  profiler-tests:
    runs-on: windows-2022
    # Disable profiler tests for now
    if: ${{ false }} 
    steps:
      - uses: actions/checkout@v4
      - name: Bootstrap Action Workspace
        uses: ./.github/workflows/bootstrap
        with:
          rust: 'true'

      - name: Build profiler
        run: ./build.bat profiler-zip

      - name: Setup Testcontainers Cloud Client
        if: github.event_name != 'pull_request' || github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false
        uses: atomicjar/testcontainers-cloud-setup-action@v1
        with:
          token: ${{ secrets.TC_CLOUD_TOKEN }}

      - name: 'Tests: Profiler'
        uses: ./.github/workflows/test
        with:
          name: 'profiler'
          project: 'test/profiler/Elastic.Apm.Profiler.Managed.Tests/Elastic.Apm.Profiler.Managed.Tests.csproj'